.Tree {
  list-style-type: none;
  padding-left: 1em;
}
.Tree svg {
  width: 13px;
  height: 13px;
}
.Tree-Children {
  list-style-type: none;
  padding-left: 1em;
}
.Tree-Item {
  padding: 4px 0;
  cursor: pointer;
}
.Tree-SelectedLine {
  position: absolute;
  background-color: rgba(0, 68, 196, 0.3);
  left: 0;
  width: 100%;
  margin-top: -2.5px;
  height: 1em;
  pointer-events: none;
  padding: 4px 0;
}
